body{
    background-color: lightblue;
}

h1{
    color: blue;
    text-align: center;
}

.desc{
    text-align: center;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

ul li a{
    text-decoration: none;
}

li{
    list-style: none;
    margin-left: 300px;
}

.s{
    text-align: center;
}

footer{
    background-color: gray;
    margin-top: 250px;
}